#loginForm {

    width: 320px;
    padding: 20px;
    background: #f0f0f0;
    overflow:auto;

    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;

    /* Border Shadow */
    -moz-box-shadow: 2px 2px 2px #cccccc;
    -webkit-box-shadow: 2px 2px 2px #cccccc;
    box-shadow: 2px 2px 2px #cccccc;

}

label{
    width: 64px;
}

.button {
    width: 115px;
    height: 38px;
    font-size: 15px;
    text-shadow: 2px 2px 2px #ccc;
}


.control-group {
    margin-left: -114px;
}