@subMenu = {
<div class="span2" style="padding:0px">
    <ul class="nav nav-list">
        <li class="nav-header">Manutenção</li>
        <li><a href="#"><i class="icon-user"></i> Incluir</a></li>
        <li><a href="#"><i class="icon-pencil"></i> Editar / Excluir</a></li>
        <li class="divider"></li>
        <li class="nav-header">Permissões</li>
        <li><a href="#"><i class="icon-pencil"></i> Editar</a></li>
    </ul>
</div>
}

@template.main("Home Usuários", "usuarios")(subMenu) {

    <h1>Usuários</h1>


}
